body {
  background-color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item-list {
  background-color: white;
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #efefef;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.cent {
  text-align: center;
  width: 50%;
}

.shop-item-show {
  /*display: flex;
  justify-content: flex-start;*/
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.shop-item-hide {
  display: none;
}

.shop-item-show .item-p {
  display: flex;
  justify-content: flex-start;
}

#item-top {
  display: flex;
  justify-content: flex-start;
}

input[type=checkbox] {
  margin-left: 30px;
  font-size: 30px;
}

input.hide[type=number] {
  display: none;
}

input.show[type=number] {
  margin-left: 5px;
  width: 30px;
  height: 1em;
}

label.hide[for="quantity"] {
  display: none;
}

label.show[for="quantity"] {
  margin-left: 30px;
}

button.hide {
  display: none;
}

button.show {
  color: #fff !important;
  text-decoration: none;
  background: #50df20;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  border: none;
  margin-bottom: 20px;
  margin-left: 50px;
}

button.show:hover {
  background: green;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  cursor: pointer;
}

button.showall {
  color: #fff !important;
  text-decoration: none;
  background: #50df20;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  border: none;
}

button.showall:hover {
  background: green;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  cursor: pointer;
}

button.show-clearbasket {
  margin-right: 10px;
  color: #fff !important;
  text-decoration: none;
  background: #e05252;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  border: none;
}

button.show-clearbasket:hover {
  background: #c32222;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  cursor: pointer;
}

button.checkout-link-show {
  margin-right: 10px;
  color: #fff !important;
  text-decoration: none;
  background: #4d79ff;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  border: none;
}

button.checkout-link-show:hover {
  background: #1a53ff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  cursor: pointer;
}

button.back-to-main-page {
  color: #fff !important;
  text-decoration: none;
  background: #4d79ff;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  border: none;
}

button.back-to-main-page:hover {
  background: #1a53ff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  cursor: pointer;
}

button.confirm-purchase {
  color: #fff !important;
  text-decoration: none;
  background: #50df20;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  border: none;
  margin-left:25%;
  margin-right:25%;
}

button.confirm-purchase:hover {
  margin-left:25%;
  margin-right:25%;
  background: green;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  cursor: pointer;
}

input[type=checkbox]:focus {
  outline: 0;
}

h3.basket-header {
  text-decoration: underline
}

input.fa-input[type="submit"] { 
  font-family: 
    FontAwesome, 
    ‘Helvetica Neue’, 
    Helvetica, 
    Arial, 
    sans-serif; 
  border: 1px solid blue;
  background: blue;
  color: white;
}

span.search {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  padding: 2px;
}

input.search-box[type="text"] {
  flex-grow: 2;
  border: none;
}

input.search-box[type="text"]:focus {
  outline: none;
}

button.checkout-link-hide {
  display: none;
}

div.checkout-hide {
  display: none;
}

header {
  margin: auto;
  height: 100px;
  width: 70%;
  display: flex;
  align-items: center;
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
  background: linear-gradient(to right, #2a0845, #6441A5);
  padding: 30px;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  position: absolute;
  left: 40%;
  margin-right: 30%;
  margin-left: 10px;
}